<!-- Date:- 21/01/2022 -->

<app-header></app-header>

<h1>{{ title }}</h1>
<h1 *ngIf="show=='yes'; then ifBlock else elseBlock"></h1>
<ng-template #ifBlock>
  <p>If Condition work.</p>
</ng-template>

<ng-template #elseBlock>
  <p>Else Condition work.</p>
</ng-template>

<br>
<h2>Multiple condition or else if:--</h2>
<ng-template [ngIf]="color==='red'">
  <p style="color: red;">Red Color.</p>
</ng-template>
<ng-template [ngIf]="color==='green'">
  <p style="color: green;">Green Color.</p>
</ng-template>
<ng-template [ngIf]="color==='blue'">
  <p style="color: blue;">Green Color.</p>
</ng-template>

<br>
<h2>Switch case:--</h2>
<div [ngSwitch]="switchColor">
  <p *ngSwitchCase="'red'" style="color: red;">Red color.</p>
  <p *ngSwitchCase="'green'" style="color: green;">Green color.</p>
  <p *ngSwitchCase="'yellow'" style="color: yellow;">Yellow color.</p>
  <p *ngSwitchCase="'blue'" style="color: blue;">Blue color.</p>
  <p *ngSwitchCase="'gray'" style="color: gray;">Gray color.</p>
  <p *ngSwitchCase="'blueviolet'" style="color: blueviolet;">BlueViolet color.</p>
  <p *ngSwitchCase="'burlywood'" style="color: burlywood;">Burlywood color.</p>
  <p *ngSwitchDefault>Unknown color.</p>
</div>

<br>
<h1>For Loop:</h1>
<h3>Normal For Loop:--</h3>
<p *ngFor='let item of users'>Name of: {{ item }}</p>

<br>
<h3>Make Array of Object && Apply Loop on Object's Array:--</h3>
<p *ngFor='let item of usersDetails'>{{ item.name }} -- {{ item.email }} -- {{ item.phone }}</p>

<br>
<h1> Nested Loop:</h1>
<ul *ngFor='let user of usersDetails'>
    <li>{{user.name}} -- {{user.email}}</li>
    <ul *ngFor='let social of user.socialAccount'>
        <li>{{ social }}</li>
    </ul>
</ul>

<br>
<h1>Style Binding | Dynamic Style</h1>
<p [style.color]="fontcolor" [style.background]="bgColor">Dynamic Color.</p>
<button (click)='updateColor()'>Update color</button>

<br>
<h1>Basic Form</h1>
<form #basicFrom='ngForm' (ngSubmit)='getData(basicFrom.value)'>
  <input type="text" ngModel name="name" placeholder="Enter user name."/>
  <br/><br/>
  <input type="text" ngModel name="email" placeholder="Enter user email."/>
  <br/><br/>
  <input type="password" ngModel name="password" placeholder="Enter password."/>
  <br/><br/>
  <button>Registrar</button>
</form>

<ul>
  <li>Name = {{userData.name}}</li>
  <li>Email = {{userData.email}}</li>
  <li>Password = {{userData.password}}</li>
</ul>

<br>
<h1>Toggle Element | hide and show tag</h1>
<button (click)="toggle()">toggle</button>

<div *ngIf="tgValue">
  <h3>Hide/show using Toggle button.</h3>
</div>

<br>
<h1>how to use Bootstrap with angular</h1>
<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </ngb-alert>
</p>

<br>
<h1>Example 2:</h1>
<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1" title="Simple">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2">
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Fancy</b> title &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-3" title="Disabled" [disabled]="true">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<h1>Material UI in Angular </h1>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>


<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</div>

<p>
  Button with a badge on the left
  <button mat-raised-button color="primary"
      matBadge="8" matBadgePosition="before" matBadgeColor="accent">
    Action
  </button>
</p>


<br/>
<h1>Todo list in angular</h1>
<input type="text"  placeholder="Enter task." #task />
<br/>
<button (click)='addTask(task.value)'> Add Todo</button>


<ul *ngFor='let items of todo'>
  <li>{{items.name}} <button (click)='romoveTask(items.id)'>Remove Task</button></li>
</ul>

<br/>
<h1>Pass Data child to component:-</h1>
<app-child [item]="childData"></app-child>
<button (click)='updateValue()'>Update value</button>

<div *ngFor='let user of usersDetails'>
  <app-child [user]="user"></app-child>
</div>

<br/>
<h1>Send data child to parent component</h1>
<app-child-to-parent (updateDataEvent)= updateChild($event)></app-child-to-parent>
<p> Text box value:---{{childData1}} </p>

